<div class="menuLeft">
    <div class="menuLeft-logo">
        <img src="{{ asset('images/logo.PNG') }}" />
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('utf_core_page_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('utf_wiki_homepage') }}">Wiki</a></li>
        </ul>
    </nav>
</div>